name: ci

on:
  pull_request:
    branches:
      - "**"

jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: WebApplicationTemplate
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore WebApplicationTemplate.slnx

      - name: Build
        run: dotnet build WebApplicationTemplate.slnx --configuration Release --no-restore

      - name: Test
        run: dotnet test WebApplicationTemplate.slnx --configuration Release --no-build
